body {
    margin: 0;

}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;

}

.arrange-left {
    float: left;
}

.wid-25 {
    width: 25%;
}

.wid-50 {
    width: 50%;
}
.wid-75{
    width: 75%;
}
.wid-33{
    width: 33.3%;
}
.next-row{
        clear: both;
}
.common-btn {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: #fff;
    min-width: 50px;
    text-align: center;
    color: #D19C97;
    margin-right: 10px;
}

.common-btn span {
    font-size: 16px;
    font-weight: 800;
}

.common-btn i {
    padding-right: 5px;
    padding-left: 5px
}
.flip-img{
  transform: scaleX(-1);
}
.margin-right-5{
  margin-right: 5%;
}
@media only screen and (max-width:992px) {
  .wid-25, .wid-50, .wid-75, .wid-33{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .arrange-left{
    float: none;
  }
}